.article-container-image{
  grid-template-areas: 'center right';
  grid-template-columns: 50% auto;
  margin-bottom: 30px;
}

.article-image {
  grid-area: right;
}

.article-content {
  grid-area: center;
  text-align: left;
  width: 100%;
}

.article-image img {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 500px) {
  .article-container-image{
    grid-template-areas: 'center';
    grid-template-columns: auto;
  }

  .article-image {
    display: none;
  }
}