.App {
  text-align: center;
}

html {
  font-family: "Roboto Mono", monospace !important;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  font-family: "Roboto Mono", monospace !important;
  padding-bottom: 100px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
  padding: 0;
}

.article {
  margin-bottom: 20px;
  text-align: left;
}

.article h1 {
  font-size: 2vw;
}

.article-abstract {
  font-size: 1.5vw;
  margin-bottom: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.soft-date {
  color: darkgray;
  font-size: 1vw;
}

.custom-date time {
  font-size: 1vw;
}

.articles-container {
  margin-left: 55px;
}

/* @media only screen and (max-width: 600px) {
  .card-img-top {
    display: none;
  }
} */
