.article-container-image-left{
  grid-template-areas: 'center right';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  grid-gap: 5px;
  width: 360px;
  background-color: magenta;
}

.image-right {
  grid-area: right;
}
.data-center {
  grid-area: center;
}
.article-container-image-right div {
  background-color: lightpink;
}